.content {
  display: flex;
  justify-content: space-around !important;
}

.buttons {
  height: 2rem;
  width: 8rem;
  margin-top: 1.5rem;
}

.leftPanel{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.rightPanel{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.map{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}