.buttons {
  height: 2rem;
  width: 8rem;
  margin-left: auto;
  /* background: #830000;
  border-color: #830000; */
  /* padding: 0.5rem 1.5rem; */
  /* border: 1px solid #ff0055;
  border-radius: 4px; */
}

.leftPanel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.rightPanel {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  max-height: 300px;
  opacity:0.75
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
